server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/DanLearnings/ecommerce-config-repo
          default-label: main
          clone-on-start: true
          search-paths: configs
        # Alternativa: usar filesystem local para comeï¿½ar
        # native:
        #   search-locations: classpath:/configs

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true